/*
|||||||||||||||||||||||||||
USER VIEW
|||||||||||||||||||||||||||
*/
.usersThemeText {
  color: var(--primary2);
}
.usersThemeBG {
  background-image: url('../Assets/BGSmudges.png');
  background-size:cover;
}

body {
  background: var(--primary2);
}

#usersView {
  margin: -80px auto;
}

@media only screen and (min-width: 600px) {
  #usersView {
    margin: -90px auto;
  }
}

@media only screen and (min-width: 768px) {
  #usersView {
    margin: 0;
  }
}

/* 
-------------
INFO SECTION
-------------
*/

#infoSection, #videoSection, #mapSection {
  padding: calc(var(--padding) * 2);
  width: 100%;
  max-width: 750px;
  overflow: visible;
}

@media only screen and (min-width: 768px) {
  #infoSection, #videoSection, #mapSection {
    padding-left: 120px;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column-reverse;
}

.infoText {
  flex: 1;
  padding: 20px 0;
}

.infoText a {
  color: white;
}

.infoImgBlock {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoImgBlock:hover {
  cursor: pointer;
}

.infoImgBlock .imgHighlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.infoImg {
  position: absolute;
  top: calc(50% - 30%);
  left: calc(50% - 30%);
  width: 60%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 500px;
  z-index: 1;
}
.infoImg:hover {
  outline: 5px solid var(--white);
}

.imgHighlight {
  /* position: absolute; */
  width: 100%;
  content: url("../Assets/circle_brush.svg");
}
.infoBlock:nth-child(2) .imgHighlight {
  transform: rotate(180deg);
}
.infoBlock:nth-child(3) .imgHighlight {
  transform: rotate(90deg);
}
.infoBlock:nth-child(4) .imgHighlight {
  transform: rotate(270deg);
}

@media only screen and (min-width: 600px) {
  .infoBlock {
    flex-direction: row;
    align-items: center;
    max-height: 300px;
  }

  .infoBlock:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .infoBlock:nth-child(odd) .infoText h2,
  .infoBlock:nth-child(odd) .infoText p {
    text-align: left;
    padding-right: var(--padding);
    /* padding-left: 50px; */
  }
  .infoBlock:nth-child(even) .infoText h2,
  .infoBlock:nth-child(even) .infoText p {
    text-align: right;
    padding-left: var(--padding);
    /* padding-right: 50px; */
  }
}

/* 
-------------
VIDEO SECTION
-------------
*/
#videoFeature {
  width: 100%;
  height: 450px;
  max-width: calc(100% - 50px);
  border-radius: var(--radius);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 50px;
}
#playButton {
  height: 50px;
  width: 50px;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  position: absolute;
  z-index: 2;
}
#playButton:hover {
  cursor: pointer;
}
#videoCover {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}
#sourceVideo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* border: 2px solid white; */
}

#videoInfo {
  list-style: none;
  display: flex;
  flex-direction: column;
}


#videoInfo li {
  padding: calc(var(--padding)) 0;
}

#videoInfo li p::before {
  content: "\2022";
  color: var(--white);
  display: inline-block;
  width: .75em;
  margin-left: -1em;
}

#videoInfo li p {
  text-align: left;
}

/* 
-------------
MAP SECTION
-------------
*/
#mapSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
#mapGraphic {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 100px auto;
}
#mapImg {
  width: 100%;
  z-index: 1;
}
#mapGraphic .imgHighlight {
  width: 350px;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  #mapGraphic {
    margin: 50px auto;
  }
}